<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Fringilla.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <Fringilla.Properties.Settings>
            <setting name="redCoefficient" serializeAs="String">
                <value>0.3</value>
            </setting>
            <setting name="greenCoefficient" serializeAs="String">
                <value>0.59</value>
            </setting>
            <setting name="blueCoefficient" serializeAs="String">
                <value>0.11</value>
            </setting>
            <setting name="filterLength" serializeAs="String">
                <value>11</value>
            </setting>
            <setting name="filterLoops" serializeAs="String">
                <value>250</value>
            </setting>
        </Fringilla.Properties.Settings>
    </userSettings>
</configuration>