<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Fringilla.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <Fringilla.Properties.Settings>
            <setting name="redCoefficient" serializeAs="String">
                <value>0.3</value>
            </setting>
            <setting name="greenCoefficient" serializeAs="String">
                <value>0.59</value>
            </setting>
            <setting name="blueCoefficient" serializeAs="String">
                <value>0.11</value>
            </setting>
            <setting name="filterLength" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="filterLoops" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="fBmpColor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="xFactor" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="yFactor" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="fLoadBMP" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="fBckgData" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="fFilmData" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="waveMono" serializeAs="String">
                <value>560</value>
            </setting>
            <setting name="wavePoly" serializeAs="String">
                <value>552</value>
            </setting>
            <setting name="noZeroBckg" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="noZeroFilm" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="pointLineBckg" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="pontLineFilm" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="lineLenghtBckg" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lineLengthFilm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="noDistBckg" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="noDistFilm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="fDistBckg" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="fDistFilm" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="fDraw" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="flagOrder" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="flagDistance" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="dirBitmap" serializeAs="String">
                <value />
            </setting>
            <setting name="dirReport" serializeAs="String">
                <value />
            </setting>
        </Fringilla.Properties.Settings>
    </userSettings>
</configuration>